<div class="address">
  <!-- {!!state.showForm &&
  <form class="login-form" onSubmit="{handleSubmit(onSubmit," onError)}>
    <InputTextField inputName="address" inputLabel={t("addresses.address") +
    "*"} inputType="text" inputPlaceholder="Es: Via Rossi 14"
    register={register} isRequired={true} labelStyle="default-label"
    inputStyle={`default-input margin-top-small ${state.invalidAddress ?
    "default-input--error" : "" }`} /> <InputTextField inputName="country"
    inputLabel={t("addresses.country") + "*"} inputType="text"
    inputPlaceholder="Es: Italia" register={register} isRequired={true}
    labelStyle="default-label " inputStyle={`default-input margin-top-small
    ${state.invalidCountry ? "default-input--error" : "" }`} /> <InputTextField
    inputName="zipCode" inputLabel={t("addresses.zipCode") + "*"}
    inputType="text" inputPlaceholder="Es: 13000" register={register}
    isRequired={true} labelStyle="default-label " inputStyle={`default-input
    margin-top-small ${state.invalidZipCode ? "default-input--error" : "" }`} />
    <InputTextField inputName="name_surname"
    inputLabel={t("addresses.nameAndLastName") + "*"} inputType="text"
    inputPlaceholder="Es: Mario Rossi" register={register} isRequired={true}
    labelStyle="default-label " inputStyle={`default-input margin-top-small
    ${state.invalidName_Surname ? "default-input--error" : "" }`} />
    <InputTextField inputName="instructions"
    inputLabel={t("addresses.deliveryInstructions")} inputType="text"
    inputPlaceholder="Es: consegnare in ufficio" register={register}
    labelStyle="default-label " inputStyle={`default-input margin-top-small`} />
    <InputTextField inputName="telephone" inputLabel={t("addresses.telephone")}
    inputType="text" inputPlaceholder="Es: 333 1234567" register={register}
    isRequired={true} labelStyle="default-label " inputStyle={`default-input
    margin-top-small ${state.invalidTelephone ? "default-input--error" : "" }`}
    /> <Button label={t("button.saveAddress")} buttonStyle="submit-button
    button-margin-top" />
  </form>
  } -->
  <h2>{{ "addresses.yourAddresses" | translate }}</h2>
  <div
    *ngFor="let address of addresses; let i = index"
    class="address__container__list"
    key="{data?.id}"
  >
    <!-- <Seo title={t("addresses.address")} description="Gestione degli indirizzi
    personali" content="e-commerce" /> -->
    <h3>{{ "addresses.address" | translate }} n. {{ i + 1 }}</h3>
    <ul>
      <li>
        <p class="address__p">{{ "addresses.country" | translate }}:</p>
        <span>{{ address?.country ?? "n/d" }} </span>
      </li>
      <li>
        <p class="address__p">{{ "addresses.zipCode" | translate }}:</p>
        <span>{{ address?.zipcode ?? "n/d" }}</span>
      </li>
      <li>
        <p class="address__p">{{ "addresses.nameAndLastName" | translate }}:</p>
        <span>{{ address?.name_surname ?? "n/d" }}</span>
      </li>
      <li>
        <p class="address__p">{{ "addresses.address" | translate }}:</p>
        <span>{{ address?.street_address ?? "n/d" }}</span>
      </li>
      <li>
        <p class="address__p">{{ "addresses.telephone" | translate }}:</p>
        <span>{{ address?.telephone ?? "n/d" }}</span>
      </li>
      <li>
        <p class="address__p">
          {{ "addresses.deliveryInstructions" | translate }}:
        </p>
        <span>{{ address?.instructions ?? "n/d" }}</span>
      </li>
      <p class="delete" onClick="{deleteAddressId(data?.id)}">Delete</p>
    </ul>
  </div>
  <div>
    <!-- <p>t("addresses.emptyAddress").</p> -->
  </div>

  <div class="address__container">
    <app-button
      label="{{ 'button.addAddress' | translate }}"
      buttonStyle="default-button"
    >
    </app-button>
    <!-- <Button label={state.showForm ? t("button.cancel") : t("button.addAddress")}
    handleClick={toggleForm} buttonStyle="default-button" /> -->
  </div>
</div>
