<div class="products-list">
    <h1>Titolo dinamico scarpe</h1>
    <div class="select-container">
        <app-select label="{{ 'header.organize' | translate }}" [selectStyle]="'category-select'"
            [content]="options1"></app-select>

        <mat-form-field>
            <mat-label class="category-select">{{ 'header.price' | translate }}</mat-label>
            <mat-select>
                <mat-option>
                    <div>
                        <app-slider></app-slider>
                    </div>
                </mat-option>
            </mat-select>
        </mat-form-field>

        <app-select label='header.brands' [selectStyle]="'category-select'" [content]="options3"></app-select>
        <app-select label='header.color' [selectStyle]="'category-select'" [content]="options4"></app-select>
    </div>
    <!-- <div class="card-container"> -->
    <div class="product-card-container" *ngIf="isDataReady">
        <app-product-card *ngFor="let product of productsManCategory" [product]="product"></app-product-card>
    </div>
    <!-- </div> -->
    <h2 class="products-list__no-products">{{ "productsList.noProducts" | translate }}</h2>
    <app-paginator></app-paginator>
</div>


<!-- <div class="products-list">
    <h1>Titolo dinamico scarpe</h1>
    <div class="select-container">
        <app-select label=" {{ 'header.organize' | translate }}" [selectStyle]="'category-select'"></app-select>
        <app-select label=" {{ 'header.price' | translate }}"></app-select>
        <app-select label=" {{ 'header.brands' | translate }}"></app-select>
        <app-select label=" {{ 'header.color' | translate }}"></app-select>
    </div>
    <h2 class="products-list__no-products">{{ "productsList.noProducts" | translate }}</h2>
</div> -->